.LineChart svg {
  color: hsl(var(--foreground));
  border: solid 1px hsl(var(--border));
}

.LineChart svg .background {
  stroke: none;
  fill: hsl(var(--card));
}

.LineChart svg .axis.label {
  fill: hsl(var(--foreground));
  font-size: 12px;
}

.LineChart svg .axis .tick line {
  stroke: hsl(var(--muted-foreground));
}

.LineChart svg .axis .tick text {
  fill: hsl(var(--foreground));
}

.LineChart svg .axis.grid .domain {
  stroke: none;
}

.LineChart svg .axis.grid .tick line {
  stroke: hsl(var(--border));
}

.LineChart svg .line {
  stroke-width: 1px;
  fill: none;
}

.LineChart svg .legend .legend-background {
  fill: none;
  stroke: hsl(var(--border));
}
